*.class
count.txt
.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*

.idea/*

*.iml

.svn/*
*.svn
.metadata/*
*/target/*
target/
.project

*.settings*

*.classpath*

*.prefs

*/META-INF/
wondersgroup-common/src/test/java/META-INF
wondersgroup-*/.gitignore
